In [137]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import sweetviz as sv
import numpy as np
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import PowerTransformer

,longitude,latitude,housing_median_age,total_bedrooms,population,households,median_income
15961,-122.43,37.71,52.0,286.0,879.0,282.0,3.1908
1771,-122.35,37.95,42.0,290.0,971.0,303.0,3.6094
16414,-121.24,37.90,16.0,10.0,20.0,6.0,2.6250
5056,-118.35,34.02,34.0,1576.0,3538.0,1371.0,1.5143
8589,-118.39,33.89,38.0,332.0,750.0,314.0,7.3356

In [138]:
from sklearn import metrics
from sklearn import metrics
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [139]:
data = pd.read_csv("data/housing.csv")
sweet_report = sv.analyze(data)
sweet_report.show_html('sweet_report.html')

                                             |          | [  0%]   00:00 -> (? left)

Report sweet_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [142]:
housing = data.drop('median_house_value', axis=1)
housing_labels = data["median_house_value"].copy()

In [147]:
#Data Cleaning

#housing = housing.drop("total_bedrooms", axis = 1)
housing = housing.drop("ocean_proximity", axis=1)

In [148]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

imputer = SimpleImputer(strategy="median")
imputer.fit(housing)

SimpleImputer(strategy='median')

In [151]:
#Create Model and test with Data
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(housing, housing_labels)

LinearRegression()

In [152]:
#Check accuracy of model.
model.score(housing, housing_labels)

0.6323562975019452

In [154]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, ytest = train_test_split(housing,housing_labels test_size=0.2, random_state=42)

In [158]:
#Check accuracy of model.
model.score(x_train, y_train)
y_act = model.score(x_test, y_test)
print(y_act)

-0.6743398269934682

In [159]:
y_pred = model.predict(x_test)
np.sqrt(metrics.mean_squared_error(y_pred,y_test))

148196.36365573067

In [161]:
#use pipelines
from sklearn.preprocessing import PolynomialFeatures,PowerTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error

pipe = Pipeline((
("pt",PowerTransformer()),
("poly",PolynomialFeatures(degree=3)),
("lr", LinearRegression()),
))
pipe.fit(Xtrain,ytrain)
print("Training R2")
print(pipe.score(Xtrain,ytrain))
print("Testing R2")
print(pipe.score(Xtest,ytest))
predicted = pipe.predict(Xtest)
print("RMSE")
print(np.sqrt(mean_squared_error(predicted, ytest)))
from Sayan Dey (Guest) to All Participants:
data = pd.read_csv("Housing_Data.csv")
data = data.drop('ocean_proximity',axis=1)
data = data.drop('total_bedrooms',axis=1)
X = data.drop('median_house_value',axis=1)
y = data['median_house_value']
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size= .20,random_state=10)

SyntaxError: invalid syntax (<ipython-input-161-04f7f0185584>, line 19)